.vs/
[b|B]in
[o|O]bj
packages
Artifacts/
buildtools/*
!buildtools/packages.config
FunctionalTestSettings
FunctionalTest.runsettings
*.dll
*.jar
*.exe
*.bin
!vendor/*
!Source/DataTransfer.Legacy.Services.Tests/WebAPIContract/*
Source/DataTransfer.Legacy.FunctionalTests/Files/
Source/DataTransfer.Legacy.FunctionalTests/oi/