.vs/
[b|B]in
[o|O]bj
oi
packages
Artifacts/
buildtools/*
!buildtools/packages.config
FunctionalTestSettings
FunctionalTest.runsettings
TestParameters.json
*.dll
*.jar
*.exe
*.bin
*.DotSettings.user
!vendor/*
!Source/DataTransfer.Legacy.Tests/WebAPIContract/*
Source/DataTransfer.Legacy.FunctionalTests/Files/
Source/DataTransfer.Legacy.FunctionalTests/oi/
/CHANGELOG.md
