<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RelativityUrl" value="https://hostname.mycompany.corp" />
		<add key="RelativityRestUrl" value="https://hostname.mycompany.corp/relativity.rest/api" />
		<add key="RelativityUserName" value="email@company.com" />
		<add key="RelativityPassword" value="SomePassword!" />
		<add key="WorkspaceTemplateName" value="Relativity Starter Template" />
		<add key="SqlInstanceName" value="hostname.mycompany.corp\EDDSINSTANCE001" />
		<add key="SqlEddsdboUserName" value="eddsdbo" />
		<add key="SqlEddsdboPassword" value="SomePassword!" />
		<add key="BcpSharePath" value="\\emttest\BCPPath" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>