<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RelativityUrl" value="http://p-dv-vm-sic5pod" />
		<add key="RelativityRestUrl" value="http://p-dv-vm-sic5pod/relativity.rest/api" />
		<add key="RelativityUserName" value="relativity.admin@kcura.com" />
		<add key="RelativityPassword" value="Test1234!" />
		<add key="WorkspaceTemplateName" value="Relativity Starter Template" />
		<add key="SqlInstanceName" value="p-dv-vm-sic5pod\EDDSINSTANCE001" />
		<add key="SqlEddsdboUserName" value="eddsdbo" />
		<add key="SqlEddsdboPassword" value="P@ssw0rd@1" />
		<add key="BcpSharePath" value="\\p-dv-vm-sic5pod\BCPPath" />
	</appSettings>
</configuration>